html {
  font-size: 62.5%
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 8rem;
}

.App-header {
  background-color: #222;
  height: 15rem;
  padding: 2rem;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.home-start {
  animation: moveInFromBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
}

.aud-it-logo {
  animation: moveInFromLeft 1s ease-out;
}

.home-description {
  animation: appearWithDelay 1s ease-out;
}

@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem)
  }

  80% {
    transform: translateX(1rem)
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes appearWithDelay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem)
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}